.DS_Store
*.Trash
*.profraw
**/xcuserdata/

*.xcassets
*.json
*.plist
*.entitlements

!AllServerForMac/Assets.xcassets/
AllServerForMac/Assets.xcassets/*
!AllServerForMac/Assets.xcassets/Contents.json
!AllServerForMac/Assets.xcassets/AppIcon.appiconset/
!AllServerForMac/Assets.xcassets/AppIcon.appiconset/Contents.json
!AllServerForMac/Assets.xcassets/AppIcon.appiconset/*.png
!AllServerForMac/Assets.xcassets/AccentColor.colorset/
!AllServerForMac/Assets.xcassets/AccentColor.colorset/Contents.json

!AllServerForMac/Info.plist
!AllServerForMac/AllServerForMac.entitlements
